<header id="header">
  <a href="/" class="logo"><strong>СПГЕ</strong> "Джон Атанасов"</a>
  <ul class="icons">
    <li><a href="https://www.facebook.com/spgesofia/" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
    <li><a href="https://www.instagram.com/spge.bg/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
    <li><a href="https://www.linkedin.com/company/spge-bg/" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
    <li><a href="https://spge-bg.com/" class="icon solid fa-globe"><span class="label">Website</span></a></li>
  </ul>
</header>