<div id="sidebar">
    <div class="inner">

        <!-- Search -->
        <section id="search" class="alt">
            <form method="post" action="#">
                <label for="query"></label>
                <input type="text" name="query" id="query" placeholder="Search" />
            </form>
        </section>

        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Меню</h2>
            </header>
            <ul>
                <li><a href="/">Начална страница</a></li>
                <li><a href="#">Вход</a></li>
                <li><a href="#">Регистрация</a></li>
                <li><a href="/events">Всички събития</a></li>
                <li><a href="/generic">Generic</a></li>
                <li><a href="/elements">Elements</a></li>
                <li>
                    <span class="opener">Submenu</span>
                    <ul>
                        <li><a href="#">Lorem Dolor</a></li>
                        <li><a href="#">Ipsum Adipiscing</a></li>
                        <li><a href="#">Tempus Magna</a></li>
                        <li><a href="#">Feugiat Veroeros</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <!-- Section -->
        <section>
            <header class="major">
                <h2>Свържете се с нас</h2>
            </header>
            <ul class="contact">
                <li class="icon solid fa-envelope"><a href="mailto:info-2205407@edu.mon.bg">info-2205407@edu.mon.bg</a></li>
                <li class="icon solid fa-envelope"><a href="mailto:spgelectron@yahoo.co.uk">spgelectron@yahoo.co.uk</a></li>
                <li class="icon solid fa-phone">(359 2) 872 00 47</li>
                <li class="icon solid fa-phone">(359 2) 872 00 37</li>
                <li class="icon solid fa-fax">(359 2) 872 07 81</li>
                <li class="icon solid fa-home">България,<br/>
                    1113 гр. София,<br/>
                    ул. "Райко Алексиев" 48</li>
            </ul>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; Untitled. All rights reserved. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
        </footer>

    </div>
</div>